*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

#Custom
node_modules
backup
nbproject
delete
output
test
*tmp*/
*delete.*
*tmp.*
*org.*
*Copy.*
*[0-9]+.*
assets/*/*[0-9].*
assets/*/*Delete*.*
assets/*/*Working*.*
assets/*/*Tmp*.*
assets/*/job*
#assets/*/*[job,Working,Tmp,Delete]*.*
assets/bootstrap/*
!assets/bootstrap/config.json
assets/img
assets/psd/*
!assets/psd/*.psd
