.navbar {
  // border-top: 5px solid $primary-color;
  margin-top: 5px;
  // background-color: darken($primary-color,7%);
  .container {
    .navbar-header{
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      button {
        align-self: center;
        border-radius: 0;
        border: 0;
        outline: 0;
        span {
          &.navbar-toggler-icon {
            color: red;
          }
        }
        &.collapsed {
          span {

          }
        }
        @media (max-width: 575px) {
          left:calc(60vw - 30%);
        }
      }
      .navbar-brand {
        a {
          display: block;
          text-align: center;
          img.custom-logo {
            width:98%;
            height: auto;
          }
        }
        margin: 0;
      }
      /*custom*/
      @media (max-width: 500px) {
        img.custom-logo {
          width:90%;
          height: auto;
        }
      }
    }
    .navbar-collapse {
      ul {
        li {
          margin-left: 4px;
          a {
            display: block;
            background-color:lighten(#6e1318,3%);
            border-radius: 2px;
            text-decoration: none;
            color: #fff;
            padding:4px 7px;
            text-shadow: 1px 1px 1px #000;
            &:hover {
              background-color:lighten(#6e1318,12%);
            }
          }
          &.active{
            a {
              // background-color:lighten(#6e1318,15%);
              background-color:darken($active-color,15%);
            }
          }
        }
      }
      // NOTE: mobile show
      &.show, &.collapsing {
        ul {
          box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
          border-radius: 2px;
          li {
            margin-left:0px;
            a {
              border-radius: 0px;
              text-align: center;
            }
            &.active{
              a {
              }
            }
          }
        }
      }
    }
  }
}
