// NOTE: Footer
footer{
  &.container-fluid {
    text-shadow: 1px 0px 1px rgba(102,153,204,0.2);padding-top:40px;padding-bottom:20px;
    // background-color: darken($primary-color,20%);


    ul {
      list-style: none; padding: 0; margin: 0;
      &.reference {
        display: inline-block;
        li {
          display: inline-block;
          a {
            // text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
            text-decoration: none;
            // color: #4c7da6;
            // color: darken(#6e1318,4%);
            &:hover{
              // text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
              // color: #a5bdd1;
              // color: lighten(#6e1318,10%);
            }
          }
        }
      }
    }
    .container {
      // box-shadow:inset 0px 0px 1px 1px lighten($primary-color,7%);
      // background-color: darken($primary-color,20%);
      .row {
        color: #666;padding-top:7px;padding-bottom:7px;text-align: center;
        a {
          // color: lighten(#6e1318,12%);
          color: lighten(#ccc,12%);
          text-decoration: none;
        }
        section {
          h4 {
            // color: #ffffff;text-shadow: 1px 1px 1px rgba(51,102,153,0.8);
            color: lighten(#ccc,12%);text-shadow: 1px 0px 1px rgba(225,225,225,0.8);
            font-weight: lighter;
          }
          ul {
            li {
              div {
                img.avatar {
                  border-radius: 50px;
                }
              }
            }
          }
        }
        #social {
          ul {
            li {
              display: inline;
            }
          }
        }
      }
    }
    .scroll-to-top {
      background: rgba(40,113,160, 0.4);
      color: #FFF;
      bottom: 4%;
      cursor: pointer;
      position: fixed;
      display: block;
      float: right;
      right: 4%;
      z-index: 999;
      font-size: 16px;
      text-align: center;
      line-height: 35px;
      width: 35px;
      border-radius: 2px;
      -webkit-transition: background-color 0.3s linear;
         -moz-transition: background-color 0.3s linear;
           -o-transition: background-color 0.3s linear;
              transition: background-color 0.3s linear;
      &:hover {
        background: #98b8d8;opacity: .8;
      }
    }
  }
}
